USE [NONODOCO_Final]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 7/22/2020 11:00:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminID] [varchar](50) NOT NULL,
	[FullName] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 7/22/2020 11:00:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[BookingID] [varchar](250) NOT NULL,
	[BookingTime] [date] NOT NULL,
	[Money] [float] NOT NULL,
	[FromPlace] [nvarchar](250) NOT NULL,
	[ToPlace] [nvarchar](250) NOT NULL,
	[Distance] [varchar](50) NOT NULL,
	[MatchingID] [varchar](50) NOT NULL,
	[CustomerID] [varchar](50) NULL,
	[RestaurantID] [varchar](50) NULL,
	[VehicleID] [varchar](50) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[RateFeedback] [varchar](50) NULL,
	[MessageFeedback] [varchar](50) NULL,
	[MainDriverMoney] [float] NOT NULL,
	[CoopDriverMoney] [float] NOT NULL,
 CONSTRAINT [PK_Booking] PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coop_Driver]    Script Date: 7/22/2020 11:00:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coop_Driver](
	[CoopDriverID] [varchar](50) NOT NULL,
	[FullName] [varchar](50) NOT NULL,
	[LicensePlate] [varchar](50) NOT NULL,
	[DrivingLicense] [varchar](50) NOT NULL,
	[PhoneNumber] [varchar](50) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[AdminID] [varchar](50) NOT NULL,
	[WalletID] [varchar](50) NULL,
 CONSTRAINT [PK_Coop_Driver] PRIMARY KEY CLUSTERED 
(
	[CoopDriverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 7/22/2020 11:00:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [varchar](50) NOT NULL,
	[FullName] [varchar](50) NOT NULL,
	[IdentityCardID] [varchar](50) NOT NULL,
	[PhoneNumber] [varchar](50) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[AdminID] [varchar](50) NOT NULL,
	[WalletID] [varchar](50) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Main_Driver]    Script Date: 7/22/2020 11:00:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Main_Driver](
	[MainDriverID] [varchar](50) NOT NULL,
	[FullName] [varchar](50) NOT NULL,
	[DrivingLicense] [varchar](50) NOT NULL,
	[PhoneNumber] [varchar](50) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[AdminID] [varchar](50) NOT NULL,
	[WalletID] [varchar](50) NULL,
 CONSTRAINT [PK_Main_Driver] PRIMARY KEY CLUSTERED 
(
	[MainDriverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matching]    Script Date: 7/22/2020 11:00:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matching](
	[MatchingID] [varchar](50) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[MatchingDate] [date] NOT NULL,
	[CoopDriverID] [varchar](50) NOT NULL,
	[MainDriverID] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Matching] PRIMARY KEY CLUSTERED 
(
	[MatchingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Restaurant]    Script Date: 7/22/2020 11:00:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restaurant](
	[RestaurantID] [varchar](50) NOT NULL,
	[NameRestaurant] [nvarchar](50) NULL,
	[PhoneNumber] [varchar](50) NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[AdminID] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Restaurant] PRIMARY KEY CLUSTERED 
(
	[RestaurantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionHistory]    Script Date: 7/22/2020 11:00:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionHistory](
	[TransactionID] [varchar](50) NOT NULL,
	[WalletID] [varchar](50) NOT NULL,
	[TransactionDate] [datetime] NOT NULL,
	[TransactionMoney] [float] NOT NULL,
	[TransactionDetails] [varchar](250) NOT NULL,
	[TransactionType] [varchar](50) NOT NULL,
	[Status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TransactionHistory] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicle]    Script Date: 7/22/2020 11:00:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle](
	[VehicleID] [varchar](50) NOT NULL,
	[Brand] [varchar](50) NOT NULL,
	[LicensePlate] [varchar](50) NOT NULL,
	[Color] [varchar](50) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[CustomerID] [varchar](50) NOT NULL,
	[InsuranceVehicleNumber] [varchar](50) NOT NULL,
	[RegistrationCertificateVehicleNumber] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Vehicle] PRIMARY KEY CLUSTERED 
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wallet]    Script Date: 7/22/2020 11:00:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wallet](
	[WalletID] [varchar](50) NOT NULL,
	[Balance] [float] NOT NULL,
 CONSTRAINT [PK_Wallet] PRIMARY KEY CLUSTERED 
(
	[WalletID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Admin] ([AdminID], [FullName], [Password], [Username], [Email], [Status]) VALUES (N'ADMIN', N'Admin', N'1', N'admin', N'admin@gmail.com', N'ACTIVE')
GO
INSERT [dbo].[Coop_Driver] ([CoopDriverID], [FullName], [LicensePlate], [DrivingLicense], [PhoneNumber], [Status], [Address], [Password], [Email], [AdminID], [WalletID]) VALUES (N'agilberthorpe3', N'Alejandra Gilberthorpe', N'959.32', N'A1,B2', N'134-805-4596', N'ACTIVE', N'65 Kensington Place', N'EaAAYP9', N'agilberthorpe3@howstuffworks.com', N'ADMIN', N'W29')
INSERT [dbo].[Coop_Driver] ([CoopDriverID], [FullName], [LicensePlate], [DrivingLicense], [PhoneNumber], [Status], [Address], [Password], [Email], [AdminID], [WalletID]) VALUES (N'bbloomb', N'Bailey Bloom', N'924.85', N'A1,B2', N'636-529-0488', N'ACTIVE', N'09 Gerald Crossing', N'eqWtt6tS', N'bbloomb@friendfeed.com', N'ADMIN', N'W30')
INSERT [dbo].[Coop_Driver] ([CoopDriverID], [FullName], [LicensePlate], [DrivingLicense], [PhoneNumber], [Status], [Address], [Password], [Email], [AdminID], [WalletID]) VALUES (N'hjesticoc', N'Hatti Jestico', N'644.99', N'A1,B2', N'951-646-7319', N'ACTIVE', N'81 Heffernan Hill', N'VwuPDpa', N'hjesticoc@independent.co.uk', N'ADMIN', N'W31')
INSERT [dbo].[Customer] ([CustomerID], [FullName], [IdentityCardID], [PhoneNumber], [Status], [Email], [Address], [Password], [AdminID], [WalletID]) VALUES (N'061c6fb7-d1c7-4b8d-bee0-f122bde6302b', N'Jonis Kellert', N'4405221199817862', N'210-803-6190', N'Active', N'jkellerte@stumbleupon.com', N'5009 5th Crossing', N'EYKwyzM3', N'ADMIN', N'W1')
INSERT [dbo].[Customer] ([CustomerID], [FullName], [IdentityCardID], [PhoneNumber], [Status], [Email], [Address], [Password], [AdminID], [WalletID]) VALUES (N'34830b07-740d-472e-b7e4-90f3c1c02235', N'Kayne Impy', N'3532392095810117', N'390-348-2309', N'Active', N'kimpy7@purevolume.com', N'366 Bartillon Parkway', N'RlcmOqg', N'ADMIN', N'W2')
INSERT [dbo].[Customer] ([CustomerID], [FullName], [IdentityCardID], [PhoneNumber], [Status], [Email], [Address], [Password], [AdminID], [WalletID]) VALUES (N'3e2a1010-b9d0-4282-aeaf-3817871b6f9d', N'Garek Hargrave', N'3560188649442653', N'652-504-3172', N'Active', N'ghargraved@i2i.jp', N'1 Ilene Hill', N'o4yvzb4IndP', N'ADMIN', N'W3')
INSERT [dbo].[Main_Driver] ([MainDriverID], [FullName], [DrivingLicense], [PhoneNumber], [Status], [Address], [Password], [Email], [AdminID], [WalletID]) VALUES (N'aboome', N'Aigneis Boom', N'A1,B2', N'180-508-1523', N'ACTIVE', N'31 Dennis Lane', N'FS1YZRJcA8', N'aboome@wordpress.com', N'ADMIN', N'W15')
INSERT [dbo].[Main_Driver] ([MainDriverID], [FullName], [DrivingLicense], [PhoneNumber], [Status], [Address], [Password], [Email], [AdminID], [WalletID]) VALUES (N'adumbar0', N'Aurthur Dumbar', N'A1,B2', N'295-539-7414', N'ACTIVE', N'88758 Sherman Court', N'vp8qtgIhBek', N'adumbar0@unc.edu', N'ADMIN', N'W16')
INSERT [dbo].[Main_Driver] ([MainDriverID], [FullName], [DrivingLicense], [PhoneNumber], [Status], [Address], [Password], [Email], [AdminID], [WalletID]) VALUES (N'afernie6', N'Adena Fernie', N'A1,B2', N'189-238-8472', N'ACTIVE', N'28701 Monterey Circle', N'jvuSljJ', N'afernie6@github.io', N'ADMIN', N'W17')
INSERT [dbo].[Matching] ([MatchingID], [Status], [MatchingDate], [CoopDriverID], [MainDriverID]) VALUES (N'aboome_agilberthorpe3', N'Active', CAST(N'2020-07-22' AS Date), N'agilberthorpe3', N'aboome')
INSERT [dbo].[Matching] ([MatchingID], [Status], [MatchingDate], [CoopDriverID], [MainDriverID]) VALUES (N'aboome_vhuish1', N'Active', CAST(N'2020-07-22' AS Date), N'agilberthorpe3', N'aboome')
INSERT [dbo].[Matching] ([MatchingID], [Status], [MatchingDate], [CoopDriverID], [MainDriverID]) VALUES (N'adumbar0_bbloomb', N'Active', CAST(N'2020-07-22' AS Date), N'bbloomb', N'adumbar0')
INSERT [dbo].[Restaurant] ([RestaurantID], [NameRestaurant], [PhoneNumber], [Address], [Email], [Status], [AdminID]) VALUES (N'17081a61-3c3c-4757-86d5-64e8f7edeee5', N'Test Name', N'930-853-7587', N'26197 Green Alley', N'asquireb@slashdot.org', N'ACTIVE', N'ADMIN')
INSERT [dbo].[Restaurant] ([RestaurantID], [NameRestaurant], [PhoneNumber], [Address], [Email], [Status], [AdminID]) VALUES (N'1c36ebc9-3e28-43c7-a7b4-2dac171f2e04', N'Test Name', N'961-806-7175', N'33083 Kropf Place', N'bjopkee@lycos.com', N'ACTIVE', N'ADMIN')
INSERT [dbo].[Restaurant] ([RestaurantID], [NameRestaurant], [PhoneNumber], [Address], [Email], [Status], [AdminID]) VALUES (N'25e09c79-0c75-4b58-8226-8cb38239d3e8', N'Test Name', N'177-973-1663', N'2 Bay Alley', N'mswinburn6@hc360.com', N'ACTIVE', N'ADMIN')
INSERT [dbo].[Vehicle] ([VehicleID], [Brand], [LicensePlate], [Color], [Status], [CustomerID], [InsuranceVehicleNumber], [RegistrationCertificateVehicleNumber]) VALUES (N'VEC0001', N'Honda', N'60A382733', N'Black', N'Active', N'061c6fb7-d1c7-4b8d-bee0-f122bde6302b', N'4129213726', N'442123355684')
INSERT [dbo].[Vehicle] ([VehicleID], [Brand], [LicensePlate], [Color], [Status], [CustomerID], [InsuranceVehicleNumber], [RegistrationCertificateVehicleNumber]) VALUES (N'VEC0010', N'Yamaha', N'60A532471', N'Red', N'Active', N'a6a72029-5c20-4c58-9908-44e90b6b422d', N'7457692720', N'900167154274')
INSERT [dbo].[Vehicle] ([VehicleID], [Brand], [LicensePlate], [Color], [Status], [CustomerID], [InsuranceVehicleNumber], [RegistrationCertificateVehicleNumber]) VALUES (N'VEC0011', N'SUV', N'60A432953', N'Black', N'Active', N'aede9469-4457-4435-b35d-2f537acf6a63', N'3367914327', N'626650690802')
INSERT [dbo].[Wallet] ([WalletID], [Balance]) VALUES (N'W1', 100)
INSERT [dbo].[Wallet] ([WalletID], [Balance]) VALUES (N'W10', 10)
INSERT [dbo].[Wallet] ([WalletID], [Balance]) VALUES (N'W11', 100)
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Customer]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Matching1] FOREIGN KEY([MatchingID])
REFERENCES [dbo].[Matching] ([MatchingID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Matching1]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Restaurant] FOREIGN KEY([RestaurantID])
REFERENCES [dbo].[Restaurant] ([RestaurantID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Restaurant]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Vehicle] FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicle] ([VehicleID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Vehicle]
GO
ALTER TABLE [dbo].[Coop_Driver]  WITH CHECK ADD  CONSTRAINT [FK_78] FOREIGN KEY([AdminID])
REFERENCES [dbo].[Admin] ([AdminID])
GO
ALTER TABLE [dbo].[Coop_Driver] CHECK CONSTRAINT [FK_78]
GO
ALTER TABLE [dbo].[Coop_Driver]  WITH CHECK ADD  CONSTRAINT [FK_Coop_Driver_Wallet1] FOREIGN KEY([WalletID])
REFERENCES [dbo].[Wallet] ([WalletID])
GO
ALTER TABLE [dbo].[Coop_Driver] CHECK CONSTRAINT [FK_Coop_Driver_Wallet1]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_90] FOREIGN KEY([AdminID])
REFERENCES [dbo].[Admin] ([AdminID])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_90]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Wallet] FOREIGN KEY([WalletID])
REFERENCES [dbo].[Wallet] ([WalletID])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Wallet]
GO
ALTER TABLE [dbo].[Main_Driver]  WITH CHECK ADD  CONSTRAINT [FK_87] FOREIGN KEY([AdminID])
REFERENCES [dbo].[Admin] ([AdminID])
GO
ALTER TABLE [dbo].[Main_Driver] CHECK CONSTRAINT [FK_87]
GO
ALTER TABLE [dbo].[Main_Driver]  WITH CHECK ADD  CONSTRAINT [FK_Main_Driver_Wallet1] FOREIGN KEY([WalletID])
REFERENCES [dbo].[Wallet] ([WalletID])
GO
ALTER TABLE [dbo].[Main_Driver] CHECK CONSTRAINT [FK_Main_Driver_Wallet1]
GO
ALTER TABLE [dbo].[Matching]  WITH CHECK ADD  CONSTRAINT [FK_81] FOREIGN KEY([CoopDriverID])
REFERENCES [dbo].[Coop_Driver] ([CoopDriverID])
GO
ALTER TABLE [dbo].[Matching] CHECK CONSTRAINT [FK_81]
GO
ALTER TABLE [dbo].[Matching]  WITH CHECK ADD  CONSTRAINT [FK_84] FOREIGN KEY([MainDriverID])
REFERENCES [dbo].[Main_Driver] ([MainDriverID])
GO
ALTER TABLE [dbo].[Matching] CHECK CONSTRAINT [FK_84]
GO
ALTER TABLE [dbo].[Restaurant]  WITH CHECK ADD  CONSTRAINT [FK_102] FOREIGN KEY([AdminID])
REFERENCES [dbo].[Admin] ([AdminID])
GO
ALTER TABLE [dbo].[Restaurant] CHECK CONSTRAINT [FK_102]
GO
ALTER TABLE [dbo].[TransactionHistory]  WITH CHECK ADD  CONSTRAINT [FK_TransactionHistory_Wallet] FOREIGN KEY([WalletID])
REFERENCES [dbo].[Wallet] ([WalletID])
GO
ALTER TABLE [dbo].[TransactionHistory] CHECK CONSTRAINT [FK_TransactionHistory_Wallet]
GO
ALTER TABLE [dbo].[Vehicle]  WITH CHECK ADD  CONSTRAINT [FK_105] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Vehicle] CHECK CONSTRAINT [FK_105]
GO
/****** Object:  StoredProcedure [dbo].[sp_Selecte_Booking_Count_BookingInDate]    Script Date: 7/22/2020 11:00:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[sp_Selecte_Booking_Count_BookingInDate]
@date date,
@status varchar(50)
As
SELECT COUNT([BookingID]) AS QuantityBooking
FROM Booking
WHERE BookingTime = @date AND [Status] Like @status
GO
/****** Object:  StoredProcedure [dbo].[sp_Selecte_Booking_Sum_Money_BookingInDate]    Script Date: 7/22/2020 11:00:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[sp_Selecte_Booking_Sum_Money_BookingInDate]
@date date,
@status varchar(50)
As
SELECT SUM([Money]) AS SumMoney
FROM Booking
WHERE BookingTime = @date AND [Status] Like @status
GO
/****** Object:  StoredProcedure [dbo].[sp_Selecte_Booking_Sum_Money_BookingInMonth]    Script Date: 7/22/2020 11:00:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[sp_Selecte_Booking_Sum_Money_BookingInMonth]
@dateFrom date,
@dateTo date,
@status varchar(50)
As
SELECT SUM([Money]) AS SumMoney
FROM Booking
WHERE BookingTime BETWEEN @dateFrom AND @dateTo AND [Status] Like @status;
GO
/****** Object:  StoredProcedure [dbo].[sp_Selecte_Booking_Top100_Money_BookingInDate]    Script Date: 7/22/2020 11:00:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[sp_Selecte_Booking_Top100_Money_BookingInDate]
@date date
As
SELECT TOP(100) [BookingID]
      ,[BookingTime]
      ,[Money]
      ,[FromPlace]
      ,[ToPlace]
      ,[Distance]
      ,[MatchingID]
      ,[CustomerID]
      ,[RestaurantID]
      ,[VehicleID]
      ,[Status]
      ,[RateFeedback]
      ,[MessageFeedback]
FROM Booking
WHERE BookingTime = @date
ORDER BY [Money] DESC
GO
/****** Object:  StoredProcedure [dbo].[sp_Selecte_Booking_Top100_Place_BookingInDate]    Script Date: 7/22/2020 11:00:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[sp_Selecte_Booking_Top100_Place_BookingInDate]
@date date
As
SELECT TOP(100) [FromPlace], COUNT(FromPlace) AS Quantity
FROM Booking
WHERE BookingTime = @date
GROUP BY FromPlace
ORDER BY Quantity DESC
GO
